<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dev.bong.mobileprogramming">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MobileProgramming">
<!--        <activity-->
<!--                android:name=".week04.LayoutDesignActivity"-->
<!--                android:exported="true"/>-->
         <activity
         android:name=".week04.MediaPlayerActivity"
         android:exported="true"/>
        <activity
                android:name=".week04.TextInputActivity"
                android:exported="true"/>
        <activity
                android:name=".week04.TextWatcherActivity"
                android:exported="true"/>
        <activity
                android:name=".week03.AutoCompleteActivity"
                android:exported="true"/>
        <activity
                android:name=".week03.ToggleButtonActivity"
                android:exported="true"/>
        <activity
                android:name=".week03.RadioGroupActivity"
                android:exported="true"/>
        <activity
                android:name=".week03.BmiActivity"
                android:exported="true"/>
        <activity
                android:name=".week04.LayoutDesignActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>