<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dev.bong.mobileprogramming">

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE"/>
        </intent>
    </queries>

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <permission
            android:name="dev.bong.mobileprogramming"
            android:description="@string/permdescription"
            android:label="@string/app_name"
            android:protectionLevel="dangerous"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
        </intent>
    </queries>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MobileProgramming"
            android:usesCleartextTraffic="true">
<!--        <activity-->
<!--                android:name=".week11.DbActivity"-->
<!--                android:exported="true"/>-->
         <activity
                 android:name=".week10.MovieDataActivity"
                 android:exported="true"/>
        <activity
                android:name=".week10.ParsingActivity"
                android:exported="true"/>
        <activity
                android:name=".week10.VolleyActivity"
                android:exported="true"/>
        <activity
                android:name=".week10.WebViewActivity"
                android:exported="true"/>
        <activity
                android:name=".week09.FragmentPracticeActivity"
                android:exported="true"/>
        <activity
                android:name=".week09.DynamicFragmentExActivity"
                android:exported="true"/>
        <activity
                android:name=".week09.DynamicFragmentActivity"
                android:exported="true"/>
        <activity
                android:name=".week09.FragmentSecondActivity"
                android:exported="true"/>
        <activity
                android:name=".week09.FragmentActivity"
                android:exported="true"/>
        <activity
                android:name=".week07.SecondActivity"
                android:exported="true"
                android:permission="dev.bong.mobileprogramming">
            <intent-filter>
                <action android:name="dev.bong.mobileprogramming"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".week07.IntentFilterActivity"
                android:exported="true"/>
        <activity
                android:name=".week06.AddVocActivity"
                android:exported="true"/>
        <activity
                android:name=".week06.IntroActivity"
                android:exported="true"/>
        <activity
                android:name=".week06.ImplicitIntentActivity"
                android:exported="true"/>
        <activity
                android:name=".week06.LifecycleActivity"
                android:exported="true"/>
        <activity
                android:name=".week05.VocabActivity"
                android:exported="true"/>
        <activity
                android:name=".week05.RecyclerViewActivity"
                android:exported="true"/>
        <activity
                android:name=".week04.LayoutDesignActivity"
                android:exported="true"/>
        <activity
                android:name=".week04.MediaPlayerActivity"
                android:exported="true"/>
        <activity
                android:name=".week04.TextInputActivity"
                android:exported="true"/>
        <activity
                android:name=".week04.TextWatcherActivity"
                android:exported="true"/>
        <activity
                android:name=".week03.AutoCompleteActivity"
                android:exported="true"/>
        <activity
                android:name=".week03.ToggleButtonActivity"
                android:exported="true"/>
        <activity
                android:name=".week03.RadioGroupActivity"
                android:exported="true"/>
        <activity
                android:name=".week03.BmiActivity"
                android:exported="true"/>
        <activity
                android:name=".week11.DbActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </activity>
    </application>

</manifest>